.mainCartItems {
  width: 100%;
  height: 70vh;
  position: relative;
  top: 11vh;
}

.cartFullItems {
  @media (min-width: 768px) {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
  }
}

.cartCard {
  overflow-x: auto;
  height: 70vh;

  @media (min-width: 768px) {
    width: 60%;
  }
}

.sectionCartItems {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 768px) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cartItemContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.itemImage {
  width: 64px;
  height: 92px;
  object-fit: cover;
  object-position: center;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 80%;
  background-color: #c1c1c1;
  padding: 8px;
}

.itemNameIcon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemName {
  font-size: 0.8rem;
  font-weight: 600;
}

.BsTrashFill,
.decrementQuantity {
  cursor: pointer;
}

.emptyCart {
  width: 100%;
  min-height: 79vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.emptyCartMsg {
  font-size: 1.5rem;
}

.boxBuyInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 50%;
    height: 50vh;
    justify-content: space-between;
  }
}

.boxBuyCep {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.boxBuyTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.boxBuySubtitle {
  color: #1e1e1e;
  font-size: 0.8rem;
}

.inputButtonCep {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cepInput {
  background-color: #c1c1c1;
  padding: 8px;
}

.totalItemsInfo {
  width: 100%;
  padding: 16px;
}

.subtotal {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subtotalText,
.totalShippingText,
.total {
  font-size: 1.1rem;
  font-weight: 600;
}

.buyInfos {
  display: flex;
  justify-content: space-between;
}
