.cardFigure {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.productImage {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.figCaptionInfos {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.productName {
  font-size: 2rem;
  font-weight: 600;
}

.userButtons {
  display: flex;
  gap: 8px;
}

.cardSet,
.cardPrice,
.comments {
  width: 100%;
  padding: 8px;
}

.pricesInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid black;
  border-radius: 5px;
}

.pricesInfo > span {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.pricesInfo > span:nth-child(odd) {
  background-color: #dcdcdc;
  border-radius: 5px;
}

.usersComments {
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.comments > .usersComments:nth-child(odd) {
  background-color: #dcdcdc;
}

.userName {
  font-weight: 600;
}

.userID,
.commentDate {
  color: #505050;
  font-size: 0.7rem;
}

.dateHour {
  display: flex;
  gap: 8px;
}

.seeMore {
  color: #004ba2;
  font-weight: 600;
}
