@mixin flex-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-type-column {
  display: flex;
  flex-direction: column;
}

@mixin pg-8 {
  padding: 8px;
  gap: 8px;
}

@mixin d-flex-g-8 {
  display: flex;
  gap: 8px;
}

@mixin w-100-p-8 {
  width: 100%;
  padding: 8px;
}

@mixin icon {
  width: 32px;
  height: 32px;
}

$box-shadow-main: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
$border-radius-main: 5px;

.cardFigure {
  @include flex-type;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.productImage {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.figCaptionInfos {
  @include flex-type-column;
  align-items: center;
  gap: 16px;
  padding: 8px;
}

.productName {
  font-size: 2rem;
}

.userName,
.seeMore,
.productName {
  font-weight: 600;
}

.userButtons {
  @include d-flex-g-8;
}

.cardSet,
.cardPrice,
.comments {
  @include w-100-p-8;
}

.pricesInfo {
  @include flex-type-column;
  gap: 8px;
  border: 1px solid black;
  border-radius: $border-radius-main;
}

.pricesInfo > span {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.pricesInfo > span:nth-child(odd) {
  background-color: #dcdcdc;
  border-radius: $border-radius-main;
}

.usersComments {
  @include flex-type-column;
  @include pg-8;
  box-shadow: $box-shadow-main;
}

.comments > .usersComments:nth-child(odd) {
  background-color: #dcdcdc;
}

.userID,
.commentDate {
  color: #505050;
  font-size: 0.7rem;
}

.dateHour {
  @include d-flex-g-8;
}

.seeMore {
  color: #004ba2;
}

.showMoreButtons {
  @include w-100-p-8;
}

.commentForm {
  display: flex;
  @include pg-8;
}

.commentInput {
  width: 90%;
  background-color: #f0f2f9;
  box-shadow: $box-shadow-main;
  padding: 16px;
  border-radius: $border-radius-main;
}

.BiCommentAdd {
  @include icon;
}
