.cardFigure {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.productImage {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.figCaptionInfos {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
}

.productName {
  font-size: 2rem;
  font-weight: 600;
}

.userButtons {
  display: flex;
  gap: 8px;
}

.cardSet,
.cardPrice {
  width: 100%;
  padding: 8px;
}

.pricesInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid black;
  border-radius: 5px;
}

.pricesInfo > span {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.pricesInfo > span:nth-child(odd) {
  background-color: #dcdcdc;
  border-radius: 5px;
}
