.cardBox {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 8px;

  @media (min-width: 768px) {
    width: 15vw;
    flex-direction: column;
    background-color: #dcdcdc;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid #b8b8b8;
  }
}

.cardImage {
  width: 86px;
  height: 96px;
  border-radius: 1px;
  object-fit: contain;

  @media (min-width: 768px) {
    width: 150px;
    height: 160px;
  }
}

.userButtons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
